<div class="doc-band-top">
  {{!-- D-2.6: real logo image alongside the wordmark. Loaded from
       the public marketing site so the PDFs always have the latest
       brand mark without us redeploying a CSS asset. Puppeteer
       waits for the image to load (networkidle0) before capturing. --}}
  <div class="brand-row">
    <img class="brand-mark" src="{{company.logoUrl}}" alt="{{company.footerName}}">
    <div class="brand-lockup">
      <div class="brand-name">{{{company.nameHtml}}}</div>
      <div class="brand-tag">{{company.brandTag}}</div>
      <div class="brand-contact">{{company.brandContact}}</div>
    </div>
  </div>
  {{#if docType}}
  <div class="doc-meta">
    <div class="doc-type">{{docType}}</div>
    {{#if docNumber}}<div class="doc-number">{{docNumber}}</div>{{/if}}
  </div>
  {{/if}}
</div>
